/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
@import "icheck/square/blue";
@import "select2-bootstrap";

@font-face{
  font-family: 'OpenSans-Light';
  src:url('OpenSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'OpenSans-Regular';
  src:url('OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'OpenSans-Semibold';
  src:url('OpenSans-Semibold.ttf');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'OpenSans-Regular';
  background: #f9f9f9;
}

.header{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #8cc7ff;
  height: 65px;
  width: 100%;
}

#add-block{
  float: right;
  position: absolute;
  top: 18.5px;
  right: 20px;
}

#backBlack{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
}

.create_todo{
  width: 284px;
  height: 290px;
  position:absolute;
  top: 50%;
  left:50%;
  margin-top: -147px;
  margin-left: -144px;
  z-index: 3;
  background-color: #f9f9f9;
}

.case_title{
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

.case_todo{
  height: 290px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.case_todo > form{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.addtodo{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button{
  display: flex;
  align-self: flex-end;
}

.main-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 40px;
}

.box-content{
  -webkit-box-shadow: 1px 2px 19px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 19px -3px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 19px -3px rgba(0,0,0,0.75);
  width: 350px;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

#box-title{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}

.box-alltodo{

}

.box-todo{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
}

#todo-text{
  margin-left: 15px;
}
